<html>
  <head>
    <link rel="stylesheet" href="github.css">
    <style>
      * { font-family: monospace; }
      body {
        width: 800px;
      }
    </style>
  </head>
  <body>
    <h1>
      jackdubie.com
    </h1>
    {{#each posts}}
      <p>{{ctime}}</p>
      {{{html}}}
      <p>-------------------------------------------------------------------------------</p>
    {{/each}}
  <body>
</html>
