<html>
  <head>
    <style>
      * { font-family: monospace; }
    </style>
  </head>
  <body>
    <h1>
      codezilla
    </h1>
    {{#each posts}}
      {{ctime}}
      {{{html}}}
      <p>-------------------------------------------------------------------------------</p>
    {{/each}}
  <body>
</html>
